@use "../styles/main" as m;

.homeContainer {
    @include m.flexbox("column", "center", "center", "sm");
    min-height: 60vh; // Pour centrer visuellement sous la navbar
    padding: 2rem;
}

.title {
    @include m.font("h1", m.$color-accent-blue, "extra-bold");
    text-align: center;
}

.text {
    @include m.font("base", m.$neutral-700);
}